*{
    margin: 0;
    padding: 0;
}

body{
    background: #E9ECF4;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

/* ============================== NAVEGATION ============================= >>>> */

.container-navegation{
    display: flex;
    justify-content: center;
}

.navegation {
    margin: 20px auto;
    position: fixed;
    width: 45%;
    display: flex;
    align-items:center;
    justify-content:space-evenly;
    font-size: 25px;
    background: #000;
    color: #fff;
    border-radius: 1rem;
    max-width:800px;
    z-index: 1;
}

.navegation a{
    padding: .5rem;
    color: #fff;
    text-decoration:none;
    font-family: "bebas neue", sans-serif;
    font-size:xx-large;
}

.ocultar {
    display: none;
}
/* ============================== BRANDING HTML ============================= >>>> */



.branding-container {
background: #E9ECF4;
width: 100%;
max-width: 1250px;
margin: auto;    
padding-top: 5rem;
}

.b-card{
border-radius: 1rem;
}

.b-card img {
  /* max-width: 100%; */
  border-radius: 1rem;
  /* margin-bottom: 0.5em; */
  cursor: pointer;
  transition: all .5s ease;
  opacity: 70%;
  background-color: #1E1E1E;
}

.branding-galery div {
    cursor: pointer;
    transition: all .5s ease;
    /* opacity: 30%; */
  }

.branding-galery {
    width: 90%;
    max-width: 1250px;
    margin:auto;
    display: grid;
    grid-gap:10px;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:"branding-uno branding-uno branding-dos branding-dos branding-tres branding-tres"
                        "branding-uno branding-uno branding-cinco branding-cinco branding-tres branding-tres"
                        "branding-cuatro branding-cuatro branding-cinco branding-cinco branding-seis branding-seis"
                        "branding-cuatro branding-cuatro branding-siete branding-siete branding-seis branding-seis"
}

.branding-uno {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    grid-area: branding-uno;
}
.branding-uno img {
    border-radius: 1rem;
    object-fit:cover;
    width: 100%;
    height: 945px;
}
.branding-dos {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    grid-area: branding-dos;
}
.branding-dos img {
    border-radius: 1rem;
    object-fit:cover;
    width: 100%;
    height: 465px;
}
.branding-tres {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    grid-area: branding-tres;
}
.branding-tres img {
    border-radius: 1rem;
    object-fit:cover;
    width: 100%;
    height: 945px;
}
.branding-cuatro {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    grid-area: branding-cuatro;
}
.branding-cuatro img {
    border-radius: 1rem;
    width: 100%;
    height:945px;
    object-fit:cover;  
}
.branding-cinco {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    grid-area: branding-cinco;
}
.branding-cinco img {
    border-radius: 1rem;
    width: 100%;
    height:945px;
    object-fit:cover;  
}
.branding-seis {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    grid-area: branding-seis;
}
.branding-seis img {
    border-radius: 1rem;
    width: 100%;
    height:945px;
    object-fit:cover;  
}
.branding-siete {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    grid-area: branding-siete;
}
.branding-siete img {
    border-radius: 1rem;
    object-fit:cover;
    width: 100%;
    height: 463px;
}

.branding-galery .img {
    background-color: #E9ECF4;
}
.branding-galery img:hover {
    transform: scale(.97);
    opacity: 100%;
}

.branding-galery img:active {
    transform: scale(1);
}

.header-branding {
/* background: #E93464; */
padding-top: 2rem;
margin-left: 4rem;
/* width: 100%;
max-width: 1500px;
margin: 10px auto; */
}

.header-branding h1 {
color: #FF4C1E;
font-size:8rem;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


@media screen and (max-width:768px){
    .branding-galery {
        width: 90%;
        grid-template-rows: repeat(1, 1fr);
        grid-template-areas: "branding-uno branding-uno branding-uno branding-dos branding-dos branding-dos"
                             "branding-tres branding-tres branding-tres branding-tres branding-tres branding-tres"
                             "branding-cuatro branding-cuatro branding-cuatro branding-cinco branding-cinco branding-cinco"
                             "branding-seis branding-seis branding-seis branding-seis branding-seis branding-seis"
                             "branding-siete branding-siete branding-siete branding-siete branding-siete branding-siete"                   
    }
    .header-branding h1 {
        font-size:2.2rem;
        padding-left: .5rem;   
    }
    .header-branding h3 {
        font-size:3rem;
        padding-left: 0;    
    }
    .header-branding {
        margin-left:1rem ;
    }
    .navegation {
        display: none;
    }
    
    .branding-container{
        padding: 0;
        margin: auto;
    }
    .img-container-branding .grande {
        width: 90%;
        padding-bottom:30rem;
     }
     .lightbox .close img{
        width: 5rem;
     }
    
    .branding-uno img {
        border-radius: 1rem;
        width: 100%;
        max-height:294px;
        object-fit:cover;  
    }
    .branding-dos img {
        border-radius: 1rem;
        width: 100%;
        max-height:294px;
        object-fit:cover;  
    }
    .branding-tres img {
        border-radius: 1rem;
        width: 100%;
        max-height:167px;
        object-fit:cover;  
    }
    .branding-cuatro img {
        border-radius: 1rem;
        height:100%;
        object-fit:cover;  
    }
    .branding-cinco img {
        border-radius: 1rem;
        height:100%;
        object-fit:cover;  
    }
    .branding-seis img {
        border-radius: 1rem;
        width: 100%;
        height:167px;
        object-fit:cover;  
    }
    .branding-siete img {
        border-radius: 1rem;
        width: 100%;
        height:167px;
        object-fit:cover; 
    }
    
    }




/* ============================== LIGHTBOX BRANDING HTML ============================= >>>> */
.lightbox{
    width: 100%;
    height:auto;
    background-color: rgba(0, 0, 0, .4);
    backdrop-filter: blur(5px);
    position:absolute;
    top:0;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin:auto;
    gap: 1rem;
    opacity: 0;
    pointer-events: none;
}

 .isactive {
    opacity: 1;
    pointer-events: auto;
    width: 100%;
    margin: auto;
}

.lightbox .close {
    display: flex;
    justify-content: center;
    align-items: center;
    position:sticky;
    top:1rem;
    width: 8rem;
    height: 8rem;
    cursor: pointer;
    transition: all .5s ease;
    border-radius: 50%;
    border: none;
    background-color: transparent;
}
.lightbox .close:hover {
    transform: scale(1.2);
    background-color: red;
}
.lightbox .close:active {
    transform: scale(1.5);
}
/* .lightbox .svg {} */
/* .lightbox .grande {
    background-color:#f45555;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
} */
    .svg {
        display: flex;
        justify-content: center;
        align-items: center;
    }

     .img-container-branding {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
     }

     .lightbox img {
        width:90%;
     }
       
     .grande{
        width: 100%;
     }